body{
  padding-top: 5rem;
  align-items: center;
}
  
h1 {
  color: black;
  text-align: left;
}
  
p {
  font-family: verdana;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: larger;
  padding: 16px 16px;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  margin-bottom: 0em;
}

.navbar li {
  float: left;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

article {
  float: left;
  width: 70%;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toppad {
  margin-top: 10px;
}